/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.phone-sprite, .phone-android, .phone-ios {
  background: url('/images/phone-s15b11c4752.png') no-repeat;
}

.phone-android {
  background-position: 0 0;
  height: 35px;
  width: 28px;
}

.phone-ios {
  background-position: 0 -35px;
  height: 35px;
  width: 29px;
}
